*, ::after, ::before {
    box-sizing: border-box;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
header{
    background: #343a40;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
}
.navbar-nav {
 
    display: flex; 
   flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.ml-auto{
    margin-left:  auto !important;
}


.nav-link {
    padding: 16px 0;
    display: inline-block;
}
.megamenu{
    background-color: #ffffff;
    padding: 24px 1.9% 24px 0;
    min-height: 340px;
    position: absolute;
    left: -10000px;
    width: 100%;
    right: 0;
    top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    overflow: hidden;
}

.sub-menu-list{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.sub-menu-item{
        display: flex;
        padding: 8px 15px;
        cursor: pointer;
        -webkit-box-align: center;
        align-items: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 30px;
}
.sub-menu-item:hover,
.sub-menu-item.active{
    background-color: #21367c;
    color: #ffffff ;
}
.nav-item:hover .sub-menu{
    left:0
}
.sub-menu-item:hover .sub-menu-level2,
.sub-menu-item.active .sub-menu-level2,
.sub-menu-level2 .sub-menu-item:hover .sub-menu-level3{
left:100%;
opacity: 1;
visibility: visible;
z-index: inherit;
}
.sub-menu-level2,.sub-menu-level3{
    position: absolute;
    left: -100%;
    top: 0;
    width: 192px;
    display: block;
    height: 100%;
    visibility: hidden;
    z-index: -99;
    opacity: 0;

}
.sub-menu-level2{
    background: #f1f1f1;
}
.sub-menu-level2 .sub-menu-item{
    color: #212529;
}
.sub-menu-level2 .sub-menu-item:hover{
    background: #4165dc;
    color: #ffffff;
}
.navbar-collapse{
    position: relative;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        color: #fff;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}


@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}